
body {
    font-family: "Montserrat", sans-serif;
    background-color: #fdfdfd;
    padding-top: 80px;
}

.textcolormain {
    color: #56cac1;
}

.secondarycolor {
    color: #fd556d;
    background-color: #fd556d;
    color: #fb546c;
    color: #404040;
}

.navbar-section a {
    text-decoration: none;
    color: #404040;
}

.navbar-section a:hover {
    color: #56cac1;
}

.buttonstyle {
    border-radius: 20px;
    text-transform: uppercase;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 35px;
}

.buttonstyle.secondary {
    background-color: #fd556d;
    color: white;
    border: 2px solid #fd556d;
    transition: .2s;
}

.buttonstyle.secondary:hover {
    background-color: transparent;
    color: #fd556d;
    border: 2px solid #fd556d;
    transition: .2s;
}

.buttonstyle.main {
    background-color: #56cac1;
    color: white;
    border: 2px solid #56cac1;
}

.logo {
    font-size: 25px;
    font-weight: 700;
}

.logo .subtext {
    font-size: 12px;
    font-weight: 400;
    line-height: 0.75;
    color: #616161;
}

.light {
    font-size: 18px;
    font-weight: 600;
    color: rgba(97, 97, 97, 0.37);
    margin-bottom: 10px;
}

h2 {
    font-size: 45px;
    color: rgb(63, 63, 63);
    margin-bottom: 40px;
}

/* --- navbar-section ----------------------------------------------------------------------------------------- */

.navbar-section {
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar-section .navigations div {
    margin: 0px 20px;
    font-weight: 600;
    font-size: 15px;
}

.navbar-section .navigations div:hover {
    cursor: pointer;
    color: #56cac1;
}

.navbar-section .navigations {
    display: flex;

    @media (max-width: 1000px) {
        display: none;
    }
}

.navbar-section .icons {
    display: flex;

    @media (max-width: 1000px) {
        display: none;
    }
}

.navbar-section .openinghours {
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 35px;
    display: block;

    @media (max-width: 1650px) {
        display: none !important;
    }
}

.navbar-section .telephonenumber {
    display: none;

    @media (min-width: 1400px) {
        display: block;
    }
}

.navbar-section .secondary {
    display: none;

    @media (min-width: 1200px) {
        display: block;
    }
}

.navbar-section .icons i {
    font-size: 13px;
    color: #3f3f3f;
    background-color: rgb(228, 233, 239);
    border-radius: 100%;
    height: 35px;
    width: 35px;
    line-height: 35px;
    margin: 0px 7px;
    transition: .1s;
}

.navbar-section .icons i:hover {
    background-color: #56cac1;
    color: white;
    cursor: pointer;
    transition: .1s;
}

/* --- sidenav-section ------------------------------------------------------------------------------------ */

.sidenav-bg {
    width: 100%;
    height: 100vh;
    background: rgba(248, 247, 247, 0.5);
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.sidenav {
    width: 100%;
    max-width: 350px;
    position: fixed;
    top: 50%;
    right: 10px;
    height: calc(100vh);
    background: #56cac1;
    color: white;
    z-index: 102;
    padding: 30px;
    transform: translate(120%, -50%);
    transition: .25s;
}

.sidenav .icons i {
    font-size: 13px;
    color: #3f3f3f;
    background-color: rgb(228, 233, 239);
    border-radius: 100%;
    height: 35px;
    width: 35px;
    line-height: 35px;
    margin: 0px 7px;
    transition: .1s;
}

.sidenav .icons i:hover {
    background-color: #3f3f3f;
    color: white;
    cursor: pointer;
    transition: .1s;
}

.sidenav .navigations a {
    font-size: 25px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.72);
    transition: .1s;
    text-decoration: none;
}

.sidenav .navigations a:hover {
    cursor: pointer;
    color: #1f7a73;
    transition: .1s;
}

.sidenav .darken:hover {
    cursor: pointer;
    color: #1f7a73;
    transition: .1s;
}

/* --- banner-section ---------------------------------------------------------------------------------------- */

.banner-section {
    height: 70vh;
    min-height: 550px;
    width: 100%;
    margin-bottom: 80px;

}

.banner-section .bannertext {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-section .image {
    height: 70vh;
    min-height: 550px;
    object-fit: cover;
    object-position: 60% 0%;
    width: 100%;
    @media (max-width: 767px){
        filter: brightness(0.6);
    }
}

.banner-section .title {
    font-size: 50px;
    color: #3f3f3f;
    @media (max-width: 767px){
        color: white;
    }
}

.bannertext .textcolormain {
    font-size: 25px;
    font-weight: 600;
    @media (max-width: 767px){
        color: #a9f4e8;
    }
}

.banner-section .description {
    font-size: 15px;
    color: #616161;
    margin-bottom: 50px;
    @media (max-width: 767px){
        color: white;
    }
}
.banner-section .secondary{
    @media (max-width: 360px){
        width: 100%;
    }
}

.banner-section .appointment {
    color: #56cac1;
    background-color: transparent;
    border: 2px solid #56cac1;
    transition: .2s;
    @media (max-width: 767px){
        color: #a9f4e8;
        border: 2px solid #a9f4e8;
    }
    @media (max-width: 360px){
        height: 80px!important;
        width: 100%;
    }
}

.banner-section .appointment:hover {
    color: white;
    background-color: #56cac1;
    border: 2px solid #56cac1;
    transition: .2s;
    @media (max-width: 767px){
        background-color: #a9f4e8;
        border: 2px solid #a9f4e8;
        color: #56cac1;
    }

}

/* --- welcome-section -------------------------------------------------------------------------------- */

.welcome-section .custom-container {
    min-height: 500px;
    max-width: 1200px;
    margin: auto;
}

.welcome-section .introduction {
    padding-right: 60px;
}

.welcome-section .introduction .description {
    font-size: 15px;
    color: rgba(63, 63, 63, 0.83);
    line-height: 1.75;
    margin-bottom: 60px;
}

.welcome-section .content {
    display: block;

    @media (min-width: 560px) {
        display: flex;
    }
}

.welcome-section .introduction .colored {
    color: #56cac1;
    font-weight: 800;
    font-size: 30px;
}

.welcome-section .introduction .text {
    font-size: 19px;
    font-weight: 600;
    color: rgb(63, 63, 63);
    margin-bottom: 30px;
}

.welcome-section .appointment .title {
    background-color: #56cac1;
    color: white;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
}

.welcome-section input {
    height: 50px;
    background-color: transparent;
    border: 2px solid rgba(170, 170, 170, 0.27);
    border-radius: 0;
}

.welcome-section input:hover {
    border: 2px solid #56cac1;
    transition: .2s;
}

.welcome-section input::placeholder {
    color: rgba(119, 119, 119, 0.72);
    font-size: 15px;

}

.welcome-section input:focus {
    background-color: transparent;
    outline: 0;
    box-shadow: unset;
    border: 2px solid #56cac1;
}

.welcome-section button {
    width: 100%;
    @media (max-width: 360px){
        height: 80px!important;
    }
}

<<<<<<< HEAD
.section-subtitle {
=======
/* --- features-section ---------------------------------------------------------------------------------------------------------- */

.features-section{
    background-color: #edf0f5;
}
.features-section .image-main{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.features-section .order-1{
    order: 1;
}
.features-section .order-2{
    order: 2;
}
.features-section .description{
    font-size: 15px;
    color: rgba(63, 63, 63, 0.83);
    line-height: 1.75;
    margin-bottom: 60px;
}
.features-section .points .image{
    position: relative;
    height: 65px;
    width: 65px;
    min-height: 65px;
    min-width: 65px;
    margin-right: 20px;
    background-color: #6ad9d0;
    border-radius: 100%;
}
.features-section .points img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
}
.features-section .points-title{
>>>>>>> c4ea73dae71819e59e1f92852106e156aba5997b
    font-size: 18px;
    font-weight: 600;
    color: rgba(97, 97, 97, 0.37);
    margin-bottom: 10px;
}
.features-section .points div{
    margin-bottom: 10px;
}

/* --- appointment-section ------------------------------------------------------------------------- */

.h2-aboutus {
    font-size: 45px;
    color: rgb(63, 63, 63);
    margin-bottom: 40px;
}

.intro-aboutus {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 2.14;
    font-weight: 500;
    color: #828282;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.features-section {
    background-color: #edf0f5;
}

<<<<<<< HEAD .features-section .image-main {
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;

    =======.features-section .image-main {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        >>>>>>>7ceb368cf20c53819a39ed9638fec2146e802047
    }
<<<<<<< HEAD

    .features-section .order-1 {
        order: 1;
    }

    .features-section .order-2 {
        order: 2;
    }

    .features-section .description {
        font-size: 15px;
        color: rgba(63, 63, 63, 0.83);
        line-height: 1.75;
        margin-bottom: 60px;
    }

    .features-section .points .image {
        position: relative;
        height: 65px;
        width: 65px;
        min-height: 65px;
        min-width: 65px;
        margin-right: 20px;
        background-color: #6ad9d0;
        border-radius: 100%;
    }

    .features-section .points img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30px;
        width: 30px;
    }

    .features-section .points-title {
        font-size: 18px;
        font-weight: 600;
    }

    .features-section .points-description {
        font-size: 15px;
        color: rgba(63, 63, 63, 0.83);
        line-height: 1.75;
    }

    .appointment-section {
        background-color: #fb546c;
        color: white;
    }

    .appointment-section .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        padding: 40px 60px;

        @media (max-width: 1000px) {
            display: block;
        }
    }

    .appointment-section .title {
        font-size: 35px;
        font-weight: 600;
    }

    .appointment-section .telephonenumber {
        font-size: 27px;
        font-weight: 600;
        text-align: center;
        border-radius: 20px;
        background-color: #ec475f;
        padding: 15px;
        max-width: 300px;
    }
=======
}
.appointment-section .title{
    font-size: 35px;
    font-weight: 600;
}
.appointment-section .telephonenumber{
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    background-color: #ec475f;
    padding: 15px;
    max-width: 300px;
}

/* --- services-section ---------------------------------------------------------------------------------------- */

.services-section{
    padding-top: 60px;
    text-align: center;
}
.services-section .image{
    position: relative;
    height: 65px;
    width: 65px;
    min-height: 65px;
    min-width: 65px;
    background-color: #6ad9d0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.services-section img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
}
.services-section .title{
    font-size: 20px;
    font-weight: 600;
    color: #404040;
    margin: 20px 0px;
}
.services-section .description{
    color: #7c7c7c;
    font-size: 16px;
}
>>>>>>> c4ea73dae71819e59e1f92852106e156aba5997b
